* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.header,
.main {
    background-color: #1f2937;
}

.main
h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.main
p {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
p {
    color: #e5e7eb;
    font-size: 18px;
}